p, h2, h3{
    letter-spacing: 1px;
}
hr {
    clear: both;
height: 2px;
color: #2262ab;
background-color: #2262ab;
border: none;
margin-bottom: 10px;
}

a { 
    color: inherit; 
} 

.active{
    color: #7da4cf;
}

header {
    z-index: 1;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,212137+100&1+0,1+43,0.82+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(14,14,24,1) 43%, rgba(33,33,55,0.82) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(14,14,24,1) 43%,rgba(33,33,55,0.82) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(14,14,24,1) 43%,rgba(33,33,55,0.82) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#d1212137',GradientType=0 ); /* IE6-9 */
    color: white;
    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    padding: 10px 0 0 2%;
    float: left;
    width: 70px;
    height: auto;
} 


body {
    background-color: #212137;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

h2 {
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    padding: 0 40px;
    text-align: center;
    margin: 0 0 10px;
}

#tagline h2 {
    text-align: left;
}

h3{
    font-size: 1.50em;
    font-family: 'Poppins', sans-serif;
    padding: 15px 5px;
    text-align: left;
    line-height: 1.35em;
    margin: 0 0 10px;
    
}

.seemore{
    line-height: normal;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;  
    text-align: left;
    padding: 0 2%;
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#444462+0,1e5799+100&0+0,1+100 */
background: -moz-linear-gradient(left, rgba(68,68,98,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(68,68,98,0) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(68,68,98,0) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00444462', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
}


#works{
    text-align: center;
    padding-bottom: 0px;
    font-size: 1.3em;
    clear: both;
}

img{
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 10px 0px 10px;
}

p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3em;
    padding: 0 10%;
   
    line-height: 1.4em;
}

span {
    display: inline-block;
}

footer p{
    font-size: .8em;
    font-family: 'Poppins', sans-serif;  
    color: #395e87;
}

footer {
    text-align: center;
    width: 100%;
    padding: 1px 0;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#212137+0,000000+100&0.82+0,1+57,1+100 */
background: -moz-linear-gradient(top, rgba(33,33,55,0.82) 0%, rgba(14,14,24,1) 57%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(33,33,55,0.82) 0%,rgba(14,14,24,1) 57%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(33,33,55,0.82) 0%,rgba(14,14,24,1) 57%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1212137', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
} 

ul.top-nav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    
}
ul.top-nav li{
    float:left;
    margin:0 2.5% 0 5%;
}
ul.top-nav li.icon {
    display: none;
}

.about {
    text-align: left;
}

#contact {
    margin-bottom: 10%;
}

.anoshohr {
        color: #212137;
background-color: #212137;
        clear:both;
    }
/*-----MOBILE media divider------*/

@media only screen and (max-width: 680px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    #tagline {
        margin-top: 120px;
        
    }
    
    ul.top-nav li{
        display: none;
        clear: both;
        padding-right: 20px;
    }
    
    ul.top-nav li a{
        text-decoration: none;
    }
    
    ul.top-nav li.icon {
        display: inline-block;
        float: right; 
        color: #FFF;
        padding-top: 10px;
        
    }
    
    header a {
        color: white;
    }
    
    ul.top-nav.responsive {
        position:relative;
        background-color: none;
        
    }
    
    ul.top-nav.responsive li.icon{
        float: right;
        
    }
    ul.top-nav.responsive li{
        float: none;
        display: inline-block;
        text-align: center;
        float: right;
        }
    
    ul.top-nav.responsive li a{
        display: inline-block;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        text-decoration: none; 
        font-size: 30px; 
    }
    
    .smcol{
    width:48%;
    float:left;
    }

    .right{
        float:right;
    }

    .smcol h2, .smcol p, .smcol h3{
        padding-left: 3.361344537815126/* (30/175)*100 = */
        padding-right: 3.361344537815126%;
    }
    
    img.featured {
        padding: 15px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .gallery img {
    object-fit: cover;
    height: 175px;
     width: 100%;
    overflow: hidden;
    position: relative; 
    object-position: 25% 50%;
    }
    
    .seemore, p, h2, h3{
        padding: 0 1em .5em;
    }
    
    #title{
        font-size: 1.8em;
        
    }
    
    #tagline h2{
        text-align: center;
    }
    
}

/*-----TABLET media divider------*/
@media only screen and (min-width:681px) and (max-width:1024px){
 header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    #tagline {
        margin-top: 120px;
    }
    
    ul.top-nav li{
        
        padding-right: 5%;
        position:relative;
        background-color: none;
        text-align: center;
        float: left;
        margin: 20px 1.5%;
    }
    
    ul.top-nav{
        margin-left: 47%;
    }
    
    ul.top-nav li a{
        text-decoration: none;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-size: 30px; 
    }
    
    
    ul.top-nav li.icon {
        display: none;        
    }
    
    header a {
        color: white;
    }
    
    .logo {
        width: 100px;
        padding: 10px 0 0 3%;
    }
    
    #tagline h2{
        text-align: center;
    }
    
    #tagline {
        text-align: center;
        padding-top: 20px;
    }
    
    .smcol{
    width:45.5%;
    float:left;
    margin-left: 20px;
         z-index: 5;
    }

    .right{
        float:right;
        margin-right: 20px;
    }

    .smcol h2, .smcol p, .smcol h3{
        padding-left: 3.361344537815126%/* (30/175)*100 = */
        padding-right: 3.361344537815126%;
    }

    img.featured{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 3%;
    }

    .gallery img {
        object-fit: cover;
        height: 275px;
        width: 100%;
        overflow: hidden;
        position: relative; 
        object-position: 25% 50%;
    }
    
    .main h3, .main p{
        padding: 0 20px;
    }
    
    .gallery p, .gallery h3, gallery h2{
        padding: 0;
    }
}
 
/*-----DESKTOP media divider------*/


@media only screen and (min-width: 1025px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    #tagline {
        margin-top: 120px;
    }
    
    # taglinegal{
        margin: 0;
    }
    
  
    
    ul.top-nav li{
        
        
        position:relative;
        background-color: none;
        text-align: center;
        float: left;
        margin: 20px 5%;
    }
    
    ul.top-nav{
        padding-left: 6%;
        margin-left: 57%;
    }
    
    ul.top-nav li a{
        text-decoration: none;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-size: 30px; 
    }
    
    
    ul.top-nav li.icon {
        display: none;        
    }
    
    header a {
        color: white;
    }
    
    .logo {
        width: 100px;
        padding: 10px 0 0 2%;
    }
    
    #tagline h2{
        text-align: center;
    }
    
    #tagline {
        text-align: center;
        padding-top: 20px;
    }
    
    
    .feat {
    padding: 0 2%;    
    }

   

    img.featured{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .featleft img {
        display: block;
        float: left;
        padding: 20px 20px 20px 1%;
        width: 40%;
    }
    
    
    .featleft p { 
        display: block;
        margin-top: 50px;
       
        margin-right: 40px; 
        font-size: 1.25em;
    }
    
    .featleft h3 {
         display: block;
        margin-top: 20px;
       
        margin-right: 40px; 
        font-size: 1.5em; 
        
    }
    
    .featleft .seemore {
        font-size: 1.1em;
    }
    
     .featright img {
        display: block;
        float: right;
        padding: 20px 42px 20px 20px;
        width: 40%;
    }
    
    .featright p, .featright h3{
        margin-top: 25px;
    }
    
    .gallery img {
        object-fit: cover;
        height: 275px;
        width: 100%;
        overflow: hidden;
        position: relative; 
        object-position: 25% 50%;
    }
    
    #descriptLeft {
        padding-top: 70px;
        float: left;
        width: 56.8%;
    }
    
    #descriptRight {
        padding-top: 70px;
        padding-right: 2%;
        float: right;
        width: 51.55%;
    }
    
    .main h3, .main p{
        padding: 0 20px;
    }
    
    .gallery p, .gallery h3, gallery h2{
        padding: 0;
    }
    
    .gallery {
        padding-right: 1%

    }
    
    .noshohr {
        color: #212137;
background-color: #212137;
        clear:both;
    }
    
    .smcol{
    width:30.1%;
    float:left;
    margin-left: 2%;
         z-index: 5;
    }
    
    .dleft {
    padding-left: 1.5%;
    }

    #tagline p {
        padding: 0 10% 0 12%;
        width: 75%;
        text-align: center;
    }
    
    .about P{
    text-align: left;
    }
    
}
    
    
    




























